#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mask {
  position: relative;
  opacity: 0.5;
}

.maskLoaded {
  position: relative;
}

.jobLabelColor {
  color: #dedede !important;
}

.jobNameColor {
  color: white !important;
}